<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/staff/to_add" method="post">
    <div>
        <h3>基本信息</h3>
        姓名：<input type="text" name="staffName" required>
        性别：<input type="radio" name="sex" value="true" required>Male<input type="radio" name="sex" value="false">Female<br>
        身份证号：<input type="text" name="identityNum" required>
        <input type="file" name="avatar" accept="image/*">
    </div>
    <div>
        <h3>其他信息</h3>
        从业等级：<input type="text" name="staffJobGrade">
        手机号码：<input type="text" name="staffTel">
        卡号：<input type="text" name="staffCardId"><br>
        工资卡号：<input type="text" name="staffSalaryCardId">
    </div>
    <input type="submit" value="提交">
</form>
</body>
</html>